.circle {
  width: 550px;  /* Tamaño del círculo */
  height: 200px;  /* Tamaño del círculo */
  border-radius: 30%; 
  background: linear-gradient(135deg, #421948 100%, #421948 100%);  /* Un degradado suave */
  transform: translate(-50%, -50%);  /* Ajusta la posición para que quede exactamente centrado */

}
