.circle {
  width: 1000px;  /* Tamaño del círculo */
  height: 800px;  /* Tamaño del círculo */
  border-radius: 50%; 
  background: linear-gradient(135deg, #0E1C47 50%, #0E1C47 50%);  /* Un degradado suave */
  filter: blur(100px);  /* Suaviza el desenfoque */
  position: absolute;  /* Hace que puedas posicionarlo en cualquier lugar */
  top: 60%;  /* Centra el círculo verticalmente */
  left: 50%;  /* Centra el círculo horizontalmente */
  transform: translate(-50%, -50%);  /* Ajusta la posición para que quede exactamente centrado */
  z-index: -1;  /* Asegura que el círculo esté detrás de otros elementos */
}
